.choice-box{
    width: 100%;
    display: flex;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);;
    margin-bottom: 1rem;
    background-color: white;
}

.choice-box:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-number{
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

#hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }

#progressBar{
    width:20rem;
    height:4rem;
    border: 0.3rem solid #56a5eb;
}

#progressbarfill{
    height:100%;
    background-color: #56a5eb;
    width:0%;
}

#loader{
    border: 2rem solid white;
    border-radius: 50%;
    border-top: 2rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s infinite linear;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}