/* Style.css */
body { 
	font-family: Arial, sans-serif; 
	margin: 0; 
	padding: 20px; 
	background-color: #a29b9b; 
} 

/* Form container */
.container { 
	max-width: 600px; 
	margin: 0 auto; 
	padding: 20px; 
	background-color: #fff; 
	border-radius: 10px; 
	box-shadow: 0 0 10px
		rgba(0, 0, 0, 0.1); 
} 

h1 { 
	text-align: center; 
} 

label { 
	margin-top: 1rem; 
} 

input { 
	padding: 10px; 
	box-sizing: border-box; 
	margin: 1.2rem 0; 
} 

/* Styling specific input types */
input[type="text"], 
input[type="number"] { 
	width: 100%; 
} 

input[type="textarea"] { 
	width: 100%; 
	height: 10rem; 
} 

button { 
	width: 100%; 
	padding: 10px; 
	background-color: #124acb; 
	color: white; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
} 

button:hover { 
	background-color: #ff6a00; 
} 

.error { 
	border: 3px solid red; 
} 

.errorText { 
	padding: 1rem; 
	border: 2px solid red; 
	box-shadow: rgba(149, 157, 165, 0.2) 
		0px 4px 12px; 
	font-size: 1.2rem; 
	font-family: "Lucida Sans", 
		"Lucida Sans Regular", 
		sans-serif; 
} 

.successText { 
	padding: 1rem; 
	border: 4px solid green; 
	box-shadow: rgba(149, 157, 165, 0.2) 
		0px 4px 12px; 
	font-size: 1.2rem; 
	font-family: "Lucida Sans", 
		"Lucida Sans Regular", 
		sans-serif; 
} 
