* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: rgb(48, 46, 43);
    color:rgb(255, 255, 255);
}


.time1{
    width:85px;
    height:25px;
    text-align: center;
    background-color:#2b2926;
    position: relative;
    left:200px;
    top:150px;
    padding:10px;
    justify-content: center;
}

#play{
    width:50px;
    height:50px;
    position:relative;
    right:210px;
    top:50px;
}

#play2{
    width:50px;
    height:50px;
    position:relative;
    right:210px;
    bottom:3px;
}

.time2{
    width:85px;
    height:25px;
    text-align: center;
    background-color:#989795;
    position: relative;
    left:200px;
    top:-58px;
    padding:10px;
    justify-content: center;
}


#timer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
    bottom:5px;

}

h1 {
    margin-bottom:10px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.player1{
    position:relative;
    top:50px;
    right:185px;
}

.player2{
    position:relative;
    top:-50px;
    right:185px;
}

#player{
    color:rgb(10, 100, 18);
}

#gameboard {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.square img{
    width:50px;
    height:50px;
}

.beige {
    background-color: rgb(235, 236, 208);
}

.brown {
    background-color: rgb(115, 149, 82);
}

.square svg {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 10;
}

.black {
    fill: rgb(40, 40, 40);
}

.white {
    fill: rgb(255, 255, 255)
}



@media screen and (max-width: 600px) {
    /* Adjust layout for small screens */
    body {
        gap: 10px;
    }

    #gameboard {
        width: 320px;
        height: 320px;
    }

    .square {
        width: 40px;
        height: 40px;
    }

    .square img {
        width: 30px;
        height: 30px;
    }

    
    .time2 {
        width: 60px;
        height:25px;
        position: relative;
        top:-50px;
        right:0;
        left:120px;
        bottom:100px;
        margin: 10px auto; /* Adjust margin to center horizontally */
    }


    .time1{
        width: 60px;
        height:25px;
        position: relative;
        top:125px;
        right:0;
        left:120px;
        bottom:0px;
        margin: 10px auto;
    }

    
    #play2 {
        width: 30px;
        height: 30px;
        position: relative;
        top: auto;
        right:140px;
        left: auto;
        bottom:0px;
        margin: 0 auto; /* Adjust margin to center horizontally */
    }

    #play{
        width: 30px;
        height: 30px;
        position: relative;
        top: auto;
        right:140px;
        left: auto;
        bottom:-35px;
        margin: 0 auto;  
    }

    .player1{
      left:5px;
      padding-bottom:10px;
    }

    .player2{
        position:relative;
        right:5px;
        bottom:30px;
    }
}