*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,#0f7fe9,#50a0ea);
    background-repeat: no-repeat;
}
.container{
    margin: 10px;
    width: 80vmin;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
span{
    display: block;
    font-size: 45px;
}
p{
    font-size: 19px;
    word-wrap: break-word;
    line-height: 25px;
    margin: 20px 0;
    display: block;
}
button{
    padding: 0.8rem 1.65rem;
    background: #0f7fe9;
    outline: none;
    border: none;
    color: #fff;
    font-size: 17.5px;
    border-radius: 10px;
    cursor: pointer; 
    margin-bottom: 10px;
    transition: transform 0.3s ease-in;
}
button:active{
    transform: scale(0.9);
}
.fade{
    opacity: 1;
    transition: opacity 1s;
}

@media screen and (max-width:400px) {
    .container{
        padding: 20px 30px;
    }
    p{
        font-size: 17px;
    }
    button{
        font-size: 15.5px;
    }
}