.question_title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  height: 33vh;
  text-align: justify;
  overflow-y: scroll;
}

.option_container {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  margin-top: 2%;
}

.option {
  height: 12vh;
  margin: 0.5% 1.5%;
  border: 2px solid black;
  width: 47%;
  font-size: 1rem;
  text-align: justify;
  padding: 0.5%;
  cursor: pointer;
  border-radius: 10px;
}

.option:hover {
    background-color: lightyellow;
    font-weight: bold;
}