.dropoption-value{
    font-family: "Questrial", sans-serif;
    font-size: 1.4rem;
    border: 1px solid white;
    width: 99%;
    padding: 1%;
    margin-top: 0.8%;
    border-radius: 5px;
}

.dropoption-value:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.dropphone-value:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.dropphone-value{
    font-family: "Questrial", sans-serif;
        font-size: 1.4rem;
        border: 1px solid white;
        width: 94%;
        padding: 3%;
        margin-top: 3%;
        border-radius: 5px;
}

@media (max-width: 900px) {
.dropoption-value {
        font-size: 1rem;
        border: 1px solid white;
        width: 95%;
        padding: 2%;
        margin-top: 2%;
    }

        .dropphone-value {
            font-size: 1rem;
            width: 94%;
            padding: 3%;
            margin-top: 3%;
            border-radius: 5px;
        }
}