@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-container{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    gap: 0.1rem;
    overflow: hidden;
}


@media screen and (min-width: 720px) and (max-width: 1080px) {
    .chat-container{
        grid-template-rows: 15% 70% 15%;
    }
}