{% extends 'core/base.html' %}

{% block title %}
    Sign up
{% endblock title %}

{% block content %}
    <div class="w-1/2 my-6 p-6 mx-auto bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">Sign Up</h1>

        <form action="." method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="" class="inline-block mb-2">Username</label><br>
                {{ form.username }}
            </div>
        
            <div class="mb-3">
                <label for="" class="inline-block mb-2">Email</label><br>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label for="" class="inline-block mb-2">Password</label><br>
                {{ form.password1 }}
            </div>

            <div class="mb-3">
                <label for="" class="inline-block mb-2">Confirm Password</label><br>
                {{ form.password2 }}
                {% if form.confirm_password.errors %}
                    <ul class="text-red-500">
                        {% for error in form.confirm_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
        </form>
    </div>
{% endblock content %}
