.navbar {
    width: auto;
    height: 5vh;
}

.navbar-logo {
    object-fit: contain;
    height: 80%;
    margin: 1% 2%;
    animation: navbar-logo-transition 0.6s ease-in;
    animation-delay: 1.5s;
}

@keyframes navbar-logo-transition {
    0% {
        transform: translateY(35%);
    }

    100% {
        transform: translateY(0%);
    }
}

@media (max-width: 900px) {
    .navbar-logo {
        object-fit: contain;
        height: 50%;
        margin: 3% 3%;
    }
}