:root {
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
  }
*
{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}

body
{
    width: 100%;
    min-height: 100vh;
    background: var(--background);
    padding: 10px;
    color: var(--text);
}

.container
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}
.stats-container 
{
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.details
{
    width: 100%;
}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}

#progress
{
    width: 80%;
    height: 10px;
    background-color: #24feee;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers
{
    width: 100px;
    height: 100px;
    background-color: #828dff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    color: var(--text);
}

form
{
    margin-top: 60px;
    width: 100%;
    display: flex;
    
}

input
{
    flex: 1;
    padding:  16px;
    background: #171c48;
    border: 1px solid #828dff;
    border-radius: 10px;
    color: var(--text);
    outline: none;
}

button
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171c48;
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;

}

.taskList
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
    
}

.task
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.taskItem
{
    display: flex;
    background-color: #171c48;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

}

.task input
{
    width: 24px;
    height: 24px;
}

.completed p 
{
    text-decoration: line-through;
    color: #24feee;

}

.taskItem img
{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}
